@model IEnumerable<VMVisitasMedicas.Models.Usuario>

@{
    ViewBag.Title = "Todos los Usuarios";
}

<h2>Todos los usuarios</h2>

<p>
    @Html.ActionLink("Crear Usuario", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Apellido Paterno
        </th>
        <th>
            Apellido Materno
        </th>
        <th>
            Edad
        </th>
        <th>
            Teléfono
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.usu_nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usu_apellidoPaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usu_apellidoMaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usu_edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usu_telefono)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.usu_id }) |
                @Html.ActionLink("Citas", "Dates", new { id = item.usu_id })
            </td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("Regresar a Control de Datos", "Index", new { id = @ViewBag.Message })
</div>